.parrafos {
    color: $color-fuente;
}

.parrafoCenter {
    text-align: center;
    @extend .parrafos
}

.boxS {
    margin-top: 100px;
}

.box {
    margin-left: 10%;
    width: 80%;
    @extend .boxS
}

.boxP {
    transform: translate(-50%, -50%);
    @extend .boxS
}

