@import "mixin", "variables", "extend";

nav ul {
    li {
        display: block;
        list-style: none;
        text-align: center;
        margin: auto;
        list-style: none;
        text-decoration: none;
        margin: 10px;

        :hover {
            color: black;
        }
    }

    a {

        &:link,
        &:visited,
        &:active {
            text-decoration: none;
        }
    }
}

li {
    li {
        display: block;
        list-style: none;
        text-align: center;
        margin: auto;
        list-style: none;
        text-decoration: none;
        margin: 10px;

        :hover {
            color: black;
        }
    }

    a {

        &:link,
        &:visited,
        &:active {
            text-decoration: none;
        }
    }
}

.parrafos {
    color: #FFFFFF;
}

.parrafoCenter {
    color: #FFFFFF;
    text-align: center;
}

.boxS,
.boxP {
    margin-top: 120px;
}

.box {
    margin-top: 120px;
    margin-left: 10%;
    width: 80%;
}

.boxP {
    transform: translate(-50%, -50%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #343a40;
}

.headerFondo {
    background-color: rgb(22, 22, 22);
}

.titulo {
    text-align: center;
    color: #FFFFFF;
}

.l1 {
    color: #FFFFFF;
}

.secondP {
    margin-top: 50px;
}

.instagram,
.linkedin {
    height: 28px;
    width: 28px;
}

.links {
    margin-left: 20px;
}

.mcr {
    height: 400px;
    object-fit: contain;
}

.foto {
    width: 600px;
    height: 600px;
    margin-bottom: 50px;
}

.futer {
    display: block;
}

.videos {
    display: flex;
    width: 100%;
}

.v1,
.v2 {
    height: 35%;
    width: 35%;
    margin-left: 10%;
}

.hobbies {
    height: 500px;
    width: 700px;
}

.formularioContacto {
    display: flex;
    justify-content: center;
}

.footer {
    color: #FFFFFF;
    text-align: center;
}